body {
	background-color: black;
	font-size: 65px;
}

@font-face{
	font-family: "Mister Pixel";
	src: url("Mister Pixel Regular.otf") format("opentype");
	
}

#cursor: url(img/animated_cursor.gif), auto;

}

.module {
  cursor: url('https://giphy.com/stickers/swag-sparkly-bling-AlgFR3hjgOsrS'), auto;	
}

#title {
	position: fixed;
	width: 630px;
	height: 750px;
	color: white;
	border: 5px dashed white;
	z-index: 99;
	margin: 50px;
	padding: 50px;
	font-family: "Mister Pixel"
}

#card_1 {
	width: 358px;
	height: 480px;
	left: 1500px;
	top: 100px;
}

#card_2 {
	width: 384px;
	height: 255px;
	left: 500px;
	top: 300px;
}

#card_3 {
	width: 288px;
	height: 337px;
	left: 100px;
	top: 310px;
}

#card_4 {
	width: 216px;
	height: 294px;
	left: 20px;
	top: 400px;

}

#card_5 {
	width: 216px;
	height: 121px;
	left: 250px;
	top: 400px;
}

#card_6 {
	width: 432px;
	height: 286px;
	left: 500px;
	top: 900px;
}

#card_7 {
	width: 288px;
	height: 200px;
	left: 20px;
	top: 800px;
}


#card_9 {
	width: 360px;
	height: 257px;
	left: 100px;
	top: 200px;

}

#card_10 {
	width: 360px;
	height: 286px;
	left: 300px;
	top: 200px;

}

#card_11 {
	width: 384px;
	height: 478px;
	left: 200px;
	top: 1000px;

}

#card_12 {
	width: 480px;
	height: 270px;
	left: 200px;
	top: 200px;

}

#card_13 {
	width: 864px;
	height: 587px;
	left: 240px;
	top: 710px;

}

#card_14 {
	width: 288px;
	height: 424px;
	left: 500px;
	top: 710px;

}

#card_15 {
	width: 384px;
	height: 576px;
	left: 1000px;
	top: 710px;

}

#card_16 {
	width: 384px;
	height: 553px;
	left: 1700px;
	top: 710px;

}


#card_17 {
	width: 384px;
	height: 256px;
	left: 2500px;
	top: 710px;

}

#card_18 {
	width: 384px;
	height: 253px;
	left: 2500px;
	top: 810px;


}

#card_19 {
	width: 384px;
	height: 256px;
	left: 2500px;
	top: 1px;

}

#card_20 {
	width: 288px;
	height: 192px;
	left: 2200px;
	top: 1000px;

}

#card_21 {
	width: 384px;
	height: 256px;
	left: 2200px;
	top: 200px;

}

#card_22 {
	width: 480px;
	height: 600px;
	left: 300px;
	top: 400px;

}

#card_23 {
	width: 576px;
	height: 853px;
	left: 2000px;
	top: -2600px;

}

#card_24 {
	width: 576px;
	height: 861px;
	left: 2000px;
	top: -7600px;

}

#card_25 {
	width: 576px;
	height: 854px;
	left: 1100px;
	top: -200px;

}

#card_26 {
	width: 384px;
	height: 260px;
	left: 1100px;
	top: -6200px;

}

#card_27 {
	width: 500px;
	height: 725px;
	left: 2700px;
	top: -6200px;

}

#card_28 {
	width: 672px;
	height: 1005px;
	left: 1700px;
	top: -8200px;

}

#card_29 {
	width: 480px;
	height: 320px;
	left: 1700px;
	top: -10200px;

}

#card_30 {
	width: 576px;
	height: 759px;
	left: 700px;
	top: -11000px;

}

#card_31 {
	width: 768px;
	height: 961px;
	left: 4700px;
	top: -11000px;

}

#card_32 {
	width: 1000px;
	height: 563px;
	left: 720px;
	top: -13700px;

}

#card_33 {
	width: 480px;
	height: 686px;
	left: 1250px;
	top: -12000px;

}

#card_34 {
	width: 576px;
	height: 574px;
	left: 900px;
	top: -12000px;

}

#card_35 {
	width: 384px;
	height: 378px;
	left: 3900px;
	top: -12000px;

}

#card_36 {
	width: 384px;
	height: 378px;
	left: 200px;
	top: -10000px;

}

#card_37 {
	width: 576px;
	height: 384px;
	left: 530px;
	top: -10050px;

}

#card_38 {
	width: 576px;
	height: 384px;
	left: 1530px;
	top: -13050px;

}

#card_39 {
	width: 192px;
	height: 248px;
	left: 3530px;
	top: -12050px;

}

#card_40 {
	width: 960px;
	height: 640px;
	left: 3530px;
	top: -10050px;

}

#card_41 {
	width: 672px;
	height: 448px;
	left: 3530px;
	top: -15050px;

}

#card_42 {
	width: 960px;
	height: 1280px;
	left: 2530px;
	top: -17050px;

}

#card_43 {
	width: 773px;
	height: 700px;
	left: 3530px;
	top: -19000px;

}

#card_44 {
	width: 960px;
	height: 639px;
	left: 3200px;
	top: -19000px;

}

#card_45 {
	width: 495px;
	height: 700px;
	left: 2200px;
	top: -19000px;

}

#card_46 {
	width: 491px;
	height: 701px;
	left: 1550px;
	top: -21000px;

}

#card_47 {
	width: 900px;
	height: 600px;
	left: 3250px;
	top: -20000px;

}

#card_48 {
	width: 900px;
	height: 1124px;
	left: 3250px;
	top: -15000px;

}

#card_49 {
	width: 672px;
	height: 840px;
	left: 2250px;
	top: -15000px;

}

#card_50 {
	width: 672px;
	height: 537px;
	left: 250px;
	top: 10000px;

}

#card_51 {
	width: 900px;
	height: 563px;
	left: 2250px;
	top: -20000px;

}

#card_52 {
	width: 900px;
	height: 664px;
	left: 2350px;
	top: -26200px;

}

#card_53 {
	width: 900px;
	height: 945px;
	left: 2350px;
	top: -18800px;

}

#card_54 {
	width: 960px;
	height: 639px;
	left: 2350px;
	top: -22800px;

}

#card_55 {
	width: 672px;
	height: 448px;
	left: 2350px;
	top: -25800px;

}

#card_56 {
	width: 480px;
	height: 320px;
	left: 1550px;
	top: -21800px;

}

#card_57 {
	width: 900px;
	height: 649px;
	left: 1150px;
	top: -27380px;

}

#card_58 {
	width: 672px;
	height: 919px;
	left: 4450px;
	top: -29680px;
}

#card_59 {
	width: 960px;
	height: 640px;
	left: 4450px;
	top: -29080px;

}

#card_60 {
	width: 288px;
	height: 192px;
	left: 4050px;
	top: -29080px;

}

#card_61 {
	width: 384px;
	height: 251px;
	left: 4050px;
	top: -29080px;

}

#card_62 {
	width: 384px;
	height: 587px;
	left: 3050px;
	top: -31480px;

}

#card_63 {
	width: 288px;
	height: 191px;
	left: 2950px;
	top: -31280px;

}

#card_64 {
	width: 480px;
	height: 724px;
	left: 6500px;
	top: -31280px;

}

#card_65 {
	width: 795px;
	height: 1200px;
	left: 4000px;
	top: -29280px;

}

#card_66 {
	width: 192px;
	height: 290px;
	left: 4500px;
	top: -31280px;

}

#card_67 {
	width: 740px;
	height: 600px;
	left: 5000px;
	top: -31280px;

}

#card_68 {
	width: 525px;
	height: 700px;
	left: 5000px;
	top: -34280px;

}


#card_70 {
	width: 775px;
	height: 1170px;
	left: 5600px;
	top: -33880px;

}

#card_71 {
	width: 1280px;
	height: 848px;
	left: 5600px;
	top: -31280px;

}



#card_73 {
	width: 750px;
	height: 1125px;
	left: 4300px;
	top: -33280px;

}

#card_74 {
	width: 360px;
	height: 641px;
	left: 3300px;
	top: -33280px;



}

#card_76 {
	width: 775px;
	height: 1169px;
	left: 4990px;
	top: -33880px;


}

#card_78 {
	width: 720px;
	height: 960px;
	left: 5990px;
	top: -40880px;

}

#card_79 {
	width: 432px;
	height: 643px;
	left: 2990px;
	top: -40980px;

}

#card_80 {
	width: 216px;
	height: 122px;
	left: 2590px;
	top: -40980px;

}

#card_81 {
	width: 625px;
	height: 417px;
	left: 5090px;
	top: -41980px;

}

#card_82 {
	width: 600px;
	height: 350px;
	left: 5490px;
	top: -44580px;

}

#card_83 {
	width: 936px;
	height: 634px;
	left: 5690px;
	top: -43980px;

}

#card_84 {
	width: 648px;
	height: 449px;
	left: 4090px;
	top: -45980px;

}

#card_85 {
	width: 360px;
	height: 247px;
	left: 6390px;
	top: -45980px;

}

#card_86 {
	width: 800px;
	height: 450px;
	left: 6390px;
	top: -40980px;

}

#card_87 {
	width: 635px;
	height: 434px;
	left: 6390px;
	top: -42980px;

}

#card_88 {
	width: 720px;
	height: 480px;
	left: 5890px;
	top: -42780px;

}



.card {
	font-family: "arial", sans-serif;
	font-size: 20px;
	position: fixed;


}

.front {


}

.back {
	padding: 50px;
	box-sizing: border-box;
	color: white;
	background-color: #white;

}

a {
	color: white;
}

a:visited {
	color: white;
}