html {
height:100%;
    background: linear-gradient(0deg, #000000, #000);
background-size: 100% 300%;

   
 text-align: center;
}



h1{
    color:blue;
 font-family: 'PT Mono', monospace;
    font-size: 35px;
    position: fixed;
    top: -10px;
    left:20px;
}

.footer{
    color:blue;
 font-family: 'PT Mono', monospace;
    font-size: 35px;
    position: fixed;
    bottom: 15px;
    right:25px;
}

#list{
 color:blue;
 font-family: 'PT Mono', monospace;
    font-size: 30px;
    position: relative;
    top: 150px;
    left: -20px;
}
